= form_for @group, html: { multipart: true, class: 'gl-show-field-errors js-general-permissions-form' }, authenticity_token: true do |f|
  %input{ type: 'hidden', name: 'update_section', value: 'js-permissions-settings' }
  = form_errors(@group)

  %fieldset
    %h5= _('Permissions')
    .form-group
      = render 'shared/allow_request_access', form: f

    .form-group.append-bottom-default
      .form-check
        = f.check_box :share_with_group_lock, disabled: !can_change_share_with_group_lock?(@group), class: 'form-check-input'
        = f.label :share_with_group_lock, class: 'form-check-label' do
          %span.d-block
            - group_link = link_to @group.name, group_path(@group)
            = s_('GroupSettings|Prevent sharing a project within %{group} with other groups').html_safe % { group: group_link }
          %span.descr.text-muted= share_with_group_lock_help_text(@group)

    .form-group.append-bottom-default
      .form-check
        = f.check_box :emails_disabled, checked: @group.emails_disabled?, disabled: !can_disable_group_emails?(@group), class: 'form-check-input'
        = f.label :emails_disabled, class: 'form-check-label' do
          %span.d-block= s_('GroupSettings|Disable email notifications')
          %span.text-muted= s_('GroupSettings|This setting will override user notification preferences for all members of the group, subgroups, and projects.')

    = render_if_exists 'groups/settings/ip_restriction', f: f, group: @group
    = render_if_exists 'groups/settings/allowed_email_domain', f: f, group: @group
    = render 'groups/settings/lfs', f: f
    = render 'groups/settings/project_creation_level', f: f, group: @group
    = render 'groups/settings/subgroup_creation_level', f: f, group: @group
    = render 'groups/settings/two_factor_auth', f: f
    = render_if_exists 'groups/member_lock_setting', f: f, group: @group

  = f.submit _('Save changes'), class: 'btn btn-success prepend-top-default js-dirty-submit', data: { qa_selector: 'save_permissions_changes_button' }
